{
	"blocks": [
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "{{ message }}"
			}
		},
		{
			"type": "actions",
			"elements": [
				{
					"type": "button",
					"text": {
						"type": "plain_text",
						"text": "📈 See statistics",
						"emoji": true
					},
					"value": "{{ train_id }}, train_average",
					"action_id": "train_performance"
				},
				{
					"type": "button",
					"text": {
						"type": "plain_text",
						"text": "🚂 Request new train",
						"emoji": true
					},
					"value": "request_train",
					"action_id": "train_request"
				}
			]
		}
	]
}