{
	"type": "modal",
	"title": {
		"type": "plain_text",
		"text": "🚂 Request a new train",
		"emoji": true
	},
	"submit": {
		"type": "plain_text",
		"text": "Submit",
		"emoji": true
	},
	"close": {
		"type": "plain_text",
		"text": "Cancel",
		"emoji": true
	},
	"blocks": [
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Please note: currently you can only select a train route. \n Requesting a different train than the default is not yet supported."
			}
		},
		{
			"type": "input",
			"element": {
				"type": "multi_static_select",
				"placeholder": {
					"type": "plain_text",
					"text": "Select options",
					"emoji": true
				},
				"options": [
					{
						"text": {
							"type": "plain_text",
							"text": "Bruegel",
							"emoji": true
						},
						"value": "station_bruegel"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "Privat-Weber",
							"emoji": true
						},
						"value": "station_privat-weber"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "Privat-TEST",
							"emoji": true
						},
						"value": "station_privat-test"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "Private-Weber2",
							"emoji": true
						},
						"value": "station_privat-weber2"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "Private-Welten",
							"emoji": true
						},
						"value": "station_privat-welten"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "HSMW",
							"emoji": true
						},
						"value": "station_HSMW"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "Melanoma Station",
							"emoji": true
						},
						"value": "station_melanoma"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "MDS Station",
							"emoji": true
						},
						"value": "station_mds"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "PHT MDS Leipzig",
							"emoji": true
						},
						"value": "station_pht_leipzig"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "PHT IMISE LEIPZIG",
							"emoji": true
						},
						"value": "station_imise_leipzig"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "Station-UKA",
							"emoji": true
						},
						"value": "station_uka"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "Station-UKK",
							"emoji": true
						},
						"value": "station_ukk"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "Station-UMG",
							"emoji": true
						},
						"value": "station_umg"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "Station-UMG_temp",
							"emoji": true
						},
						"value": "station_umg_tmp"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "aachenbeeck",
							"emoji": true
						},
						"value": "station_aachenbeeck"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "aachenmenzel",
							"emoji": true
						},
						"value": "station_aachenmenzel"
					}
				],
				"action_id": "multi_static_select-action"
			},
			"label": {
				"type": "plain_text",
				"text": "Please select a train route:",
				"emoji": true
			}
		}
	]
}