{
	"blocks": [
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Please select a station."
			},
			"accessory": {
				"type": "radio_buttons",
				"options": [
					{
						"text": {
							"type": "plain_text",
							"text": "Bruegel",
							"emoji": true
						},
						"value": "station_bruegel"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "Privat-Weber",
							"emoji": true
						},
						"value": "station_privat-weber"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "Privat-TEST",
							"emoji": true
						},
						"value": "station_privat-test"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "Private-Weber2",
							"emoji": true
						},
						"value": "station_privat-weber2"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "Private-Welten",
							"emoji": true
						},
						"value": "station_privat-welten"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "HSMW",
							"emoji": true
						},
						"value": "station_HSMW"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "Melanoma Station",
							"emoji": true
						},
						"value": "station_melanoma"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "MDS Station",
							"emoji": true
						},
						"value": "station_mds"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "PHT MDS Leipzig",
							"emoji": true
						},
						"value": "station_pht_leipzig"
					}
				],
				"action_id": "station_selection_1"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": " "
			},
			"accessory": {
				"type": "radio_buttons",
				"options": [
					{
						"text": {
							"type": "plain_text",
							"text": "PHT IMISE LEIPZIG",
							"emoji": true
						},
						"value": "station_imise_leipzig"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "Station-UKA",
							"emoji": true
						},
						"value": "station_uka"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "Station-UKK",
							"emoji": true
						},
						"value": "station_ukk"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "Station-UMG",
							"emoji": true
						},
						"value": "station_umg"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "Station-UMG_temp",
							"emoji": true
						},
						"value": "station_umg_tmp"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "aachenbeeck",
							"emoji": true
						},
						"value": "station_aachenbeeck"
					},
					{
						"text": {
							"type": "plain_text",
							"text": "aachenmenzel",
							"emoji": true
						},
						"value": "station_aachenmenzel"
					}
				],
				"action_id": "station_selection_2"
			}
		}
	]
}